<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737271602056-1g1sf6kkstv5h5q6627nm3jknl4fbtfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737271602056-1g1sf6kkstv5h5q6627nm3jknl4fbtfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737271602056-mr6l90inmoup53413o3nuebt1d8hmjtg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDV5xz6fVQ2cmzCcanptO-6PLFgTYcDbA</string>
	<key>GCM_SENDER_ID</key>
	<string>737271602056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.adryanev.weather.stg</string>
	<key>PROJECT_ID</key>
	<string>flutter-weather-23117</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-weather-23117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737271602056:ios:54c762d04938b2d025383d</string>
</dict>
</plist>